html, * {
  margin: 0px; padding: 0px;
  border: 0;
}

body {
  margin: 0px; padding: 0px;
  text-align: center;
  background-color: black;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
}

.nav {
  list-style: none;
  padding: 10px 0px;
}
.nav li {
  display: inline;
  padding-right: 10px;
}
.nav li a {
  color: white;
  text-decoration: none;
}
.nav li a.active {
  color: red;
}

.container {
  max-width: 960px;
  background-color: red;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

img {
  max-width: 96%;
  border:20px solid black;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 100px;
}

.button {
  background-color: black;
  padding: 1px 20px;
  font-size: 50px;
  color: red;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px 0px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.content {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

ul {
  margin: 10px 0px 10px 17px;
}

video {
  max-width: 100%;
}

.ball {
  width: 100px; height: 100px;
  background: blue;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  top: 400px;
}
.hunter-sad {
  margin: auto;
  position: absolute;
  top: 400px;
}
